{% extends 'base.html' %}
{% load static %}

{% block title %}{{ recipe.name }}{% endblock %}
{% block page_title %}{{ recipe.name }}{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        <p>Created on: {{ recipe.created_on|date:"F d, Y" }} | 
           Updated on: {{ recipe.updated_on|date:"F d, Y" }}</p>

        <p><strong>Author:</strong> {{ recipe.author.username }}</p>

        <h3>Ingredients:</h3>
        <ul>
            {% for ingredient in recipe.ingredients.all %}
                <li>{{ ingredient.ingredient.name }} - {{ ingredient.quantity }}</li>
            {% empty %}
                <li>No ingredients listed.</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Please log in to view recipe details.</p>
    {% endif %}
{% endblock %}
