{% extends 'base.html' %}
{% load static %}

{% block title %}{{ recipe.name }}{% endblock %}
{% block page_title %}{{ recipe.name }}{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        <p>
            Created on: {{ recipe.created_on|date:"F d, Y" }} |
            Updated on: {{ recipe.updated_on|date:"F d, Y" }}
        </p>

        <p><strong>Author:</strong> {{ recipe.author.username }}</p>

        <h3>Ingredients:</h3>
        <ul>
            {% for ingredient in recipe.ingredients.all %}
                <li>{{ ingredient.ingredient.name }} - {{ ingredient.quantity }}</li>
            {% empty %}
                <li>No ingredients listed.</li>
            {% endfor %}
        </ul>

        {% for image in recipe.images.all %}
            <img src="{{ image.image.url }}" alt="{{ image.description }}">
        {% endfor %}

        <br>
        <a href="{% url 'ledger:add-image' recipe.pk %}">Upload Image</a>
    {% else %}
        <p>Please log in to view details.</p>
    {% endif %}
{% endblock %}
